<% if current_user and current_announcement.exists? and not announcement_hidden?(current_announcement) %>
  <div id="announcement">
    <span><%= current_announcement.body.html_safe %></span>
    <span class="hide">
      <%= link_to_function "hide", "hideAnnouncement('announcement_#{current_announcement.created_at}');" %>
    </span>
  </div>
<% end %>

