<% if current_announcement.exists? && !announcement_hidden?(current_announcement) %>
  <div id="announcement">
    <span><%= current_announcement.body.html_safe %></span>
    <span class="hide">
      <%= link_to "hide", "#", onclick: "hideAnnouncement('announcement_#{current_announcement.created_at.iso8601}')" %>
    </span>
  </div>
<% end %>
